
@model AcesWebApp.ViewModels.ProfScreenViewModel

@{
    var content = Model;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfScreen</title>
    @*<link rel="stylesheet" href="~/css/tablestyles.css">*@
</head>
<body>
    <h1>Prof Screen</h1>

    <form enctype="multipart/form-data" asp-controller="ProfScreen" asp-action="Assignments" method="post" class="form-horizontal">
        <div>
            <div class="col-md-8">
                <div class="input-group">
                    <select asp-for="classId" style="width: 100%;" class="form-control">
                        @foreach (AcesWebApp.Models.Classrooms.Classroom classroom in content.Classrooms)
                        {
                            <option value="@classroom.classId">@classroom.className</option>
                        }
                    </select>
                    <div class="input-group-addon">
                        <a class="btn btn-primary" asp-controller="ProfScreen" asp-action="CreateClass">Create a class</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="assignmentName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="assignmentName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="securityKey" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="securityKey" class="form-control" />
            </div>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="githubUser" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="githubUser" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="githubPass" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="githubPass" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="professorUnitTest" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="professorUnitTest" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose Professor Unit Test</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Check</button>

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }
    </form>



   


    <form asp-action="DeleteClass" method="post" class="form-horizontal" role="form">
        <div class="col-md-8">
            <div class="input-group">
                <select asp-for="ClassDelete" class="form-control">
                    >
                    @foreach (AcesWebApp.Models.Classrooms.Classroom classroom in content.Classrooms)
                    {
                        <option value="@classroom.classId">@classroom.className</option>
                    }
                </select>
                <div class="input-group-addon">
                    <input type="submit" class="btn btn-primary" value="Delete Class" />
                </div>
            </div>
        </div>
    </form>

</body>
</html>
