
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>

    <h2>User Login</h2>

    <form action="">
        Username:<br>
        <input type="text" name="username" value="">
        <br>
        Password:<br>
        <input type="text" name="password" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>


    <a href="/Assignments"> Login Via Github(goto assignments)</a>

</body>
</html>

