@model AcesWebApp.Models.StudentPageModel


@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentPageView</title>
    <link rel="stylesheet" href="~/css/StudentPage.css">
</head>
<body>

    <form enctype="multipart/form-data" asp-controller="StudentPage" asp-action="Results" method="post" class="mt-3">
        <table align="center">
            <tr>
                <td>
                    <h2>Assignment Code</h2>
                    <p>Paste assignment code or upload:</p>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input multiple asp-for="StudentProgramFiles" class="custom-file-input" type="file" />
                            </div>
                        </div>
                    </div>
                    <textarea asp-for="StudentProgramCode" class="form-control"></textarea>
                </td>
                <td>
                    <h2>Unit Test Code</h2>
                    <p>Paste unit test code or upload: </p>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input asp-for="StudentUnitTest" class="custom-file-input" />
                            </div>
                        </div>
                    </div>
                    <textarea asp-for="StudentUnitCode" class="form-control"></textarea>
                </td>
            </tr>
        </table>

        <!-- <a class="CompileBtn" href="">Compile &amp Run</a> -->
        <button type="submit" class="btn btn-primary">Upload and Run</button>

    </form>

    <h3>Output: </h3>

    <textarea class="OutputWindow">@Model.StudentResults</textarea>

</body>
</html>
