
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentPageView</title>
    <link rel="stylesheet" href="~/css/StudentPage.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>
                <h1>Assignment Code</h1>
                <h3>Paste assignment code or upload:</h3>
                <input type="file" />
                <textarea>

                </textarea>
            </td>
            <td>
                <h1>Unit Test Code</h1>
                <h3>Paste unit test code or upload: </h3>
                <input type="file" />
                <textarea>

                </textarea>
            </td>
        </tr>
    </table>

    <a class="CompileBtn" href="">Compile &amp Run</a>
    <h3>Output: </h3>

    <textarea class="OutputWindow">

    </textarea>

</body>
</html>
